.seccion-footer {
    background-color: rgb(94, 20, 57);
    color: seashell;
    font-size: 1.7rem;
}

.button-icon{
    border-radius: 50%;
}

.button-icon:hover {
    color: rgb(255, 217, 0);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

a {
    color: seashell;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

a:hover {
    color: rgb(255, 217, 0);
}

.seccion-footer i{
    display: grid;
}

.acaGrid{
    display: grid;
    grid-template-columns: 15% 15%;
}