.seccion-footer {
    color: seashell;
    font-size: 1.7rem;
}

.button-icon{
    border-radius: 50%;
}

.button-icon:hover {
    color: rgb(255, 217, 0);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.seccion-footer a {
    color: seashell;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.seccion-footer a:hover {
    color: rgb(255, 217, 0);
}

.seccion-footer i{
    display: grid;
}

.acaGrid{
    display: grid;
    grid-template-columns: 15% 15%;
}