.gallery-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px;
  padding-bottom: 0;
}

.carousel-content-item {
  display: flex;
  flex-direction: row;
}

.carousel-content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.carousel-content-item-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

.carousel-content-item-text {
  color: rgb(226 180 44);
  font-size: 22px;
  line-height: 1.3;
}

.carousel-content-div {
  display: flex;
}
