.gallery-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px calc(80px - 1.5rem);
}

.carousel-content-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.carousel-content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.carousel-content-item-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}
