.seccionUno h2,
.seccionDos h2 {
  color: #aa54e3;
  font-size: 38px;
  line-height: 40px;
}

.seccionUno p,
.seccionDos p {
  color: #aa54e3;
  font-size: 1.2rem;
  line-height: 120%;
}

.seccionDos p,
.seccionDos h2 {
  color: rgb(226 180 44);
}

.infoUno,
.infoDos {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: rgba(0, 0, 0, 0.432) 0px 2px 8px 0px;
  max-width: 380px;
}

.infoUno{
  margin-left: -6vw;
}

.infoDos{
  margin-right: -6vw;
}

@media only screen and (max-width: 650px) {
  .infoUno,
  .infoDos {
    max-width: unset;
    margin: unset;
    text-align: left;
  }

  .seccionUno,
  .seccionDos {
    padding: 20px !important;
    height: unset !important;
  }

  .seccionDos .text-end {
    text-align: unset !important;
  }

  .carousel-content-div{
    text-align: left;
  }
}
