.navbar-light .navbar-toggler {
    border: 3px solid #aa54e3;
    
}

.navbar-brand span{
    color: #aa54e3;
}

nav{
    background-color: rgb(13 13 13);
    height: unset;
}

.nav-link{
    margin-right: 20px;
}

.lineaAbajo{
    margin-right: unset;
}


nav a{
    color: #aa54e3 !important;
    font-size: 24px;
}

.navbar-expand .navbar-nav .nav-link {
    margin-right: 30px;
 }

.navbar-light .navbar-nav .nav-link:focus{
    color: rgb(255, 217, 0);
    border-bottom: 4px solid #aa54e3;
    background: rgba(0, 0, 0, 0.418);
}


.nav-link:focus{
    margin-bottom: -5px;
}

nav a:hover{
    color: rgb(226 180 44) !important;
}

.navbar{
    padding: unset;
}

a.nav-link.active{
    border-bottom: 4px solid #aa54e3;
    margin-bottom: -5px;
}



@media only screen and (min-width: 992px) {
 
    .navbar-brand{
        display: none;
    }

    nav{
        background-color: rgba(0, 0, 0, 0.8);
        height: 62px;
    }
  
  }

  @media only screen and (max-width: 992px) {

    .navbar-nav a{
        text-align: center;
        border-top: 1px solid #aa54e3;
    }

    .navbar-nav{
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .responsiveNav{
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .lineaAbajo{
        border-bottom: 1px solid #aa54e3;
    }

    .navbar-light .navbar-toggler-icon{
        background-image: url(https://svgshare.com/i/_BM.svg) !important;
    }

    .nav-link{
        margin-right: unset;
    }
  }
