
nav{
    background-color: rgba(0, 0, 0, 0.8);
    height: 62px;
}

nav a{
    color: #aa54e3 !important;
    font-size: 24px;
}

.navbar-expand .navbar-nav .nav-link {
    margin-right: 30px;
 }

.navbar-light .navbar-nav .nav-link:focus{
    color: rgb(255, 217, 0);
    border-bottom: 4px solid #aa54e3;
    background: rgba(0, 0, 0, 0.418);
}


.nav-link:focus{
    margin-bottom: -5px;
}

nav a:hover{
    color: rgb(226 180 44) !important;
}

.navbar{
    padding: unset;
}

@media only screen and (max-width: 992px) {
    .navbar-nav {
      justify-content: center;
    }

    .navbar-expand .navbar-nav .nav-link {
    margin-right: 15px;
    margin-left: 15px;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: unset;
    }

}