.trailer{
  min-height: 100vh;
  padding: 80px;
}

.tituloUno{
  font-size: 80px;
  color: #aa54e3;
}


.elBotonDos a{
  background: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  border-radius: 50px;
  color: #aa54e3;
  text-decoration: none;
  transition: 0.2s;
  display: block;
  max-width: 300px;
  margin: auto;
}

.elBotonDos i{
  position: relative;
  top: 3px;
}

.elBotonDos a:hover{
  transform: scale(1.1);
  color: rgb(255, 217, 0);
}

iframe{
  width: 100%;
  height: 72vh;
}

@media only screen and (max-width: 650px) {
 
  .trailer{
    padding: 20px;
  }

  .tituloUno{
    text-align: center;
  }

  .elBotonDos i{
    top: 3px;
  }
  
}

@media only screen and (max-width: 400px) {

  .elBotonDos a{

    min-width: 100%;
  }
}

